<%= render 'layouts/top_nav' %>

<main class="profile-grid">

<div class="profile-information">
  <p><%= @shelter.name %> &ensp; | &ensp;
  <%= @shelter.email %> &ensp; | &ensp;
  <%= @shelter.phone %> &ensp; | &ensp;
  <%= @shelter.address %> &ensp; | &ensp; </p>
  <%= link_to 'Edit Profile', edit_shelter_path(@shelter) %>
</div>


<section class="user-pets">
  <h2>Your pets</h2>
  <div class="owned-pets">
    <% if Pet.where(shelter_id: @shelter.shelter_id).size > 0 %>
      <% Pet.where(shelter_id: @shelter.shelter_id).each do |pet| %>
        <%= link_to pet do %>
          <div class="card" title=<%= pet.name %>>
            <img src=<%= pet.cw_photo %> width="200" height="200"/><br/>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>You haven't added any pets.</p>
    <% end %>
  </div>
</section>


<section class="form-area">
  <h2>Place a pet for adoption.</h2>

  <div class="pet-form">
    <%= form_for :pet, url: '/pets' do |f| %>

    <article class="info-group">

      <div class="info">
        <p>Choose your city.</p>
        <%= f.select :city, Pet::CITIES, :prompt => "" %>
      </div>

      <div class="info">
        <p>Does the pet have a name?</p>
        <%= f.text_field :name, class: "form-input" %>
      </div>

      <div class="info">
        <p>What type of animal is it?</p>
        <%= f.select :animal_type, Pet::ANIMAL_TYPES, :prompt => "" %>
      </div>

      <button class="next-page btn btn-light btn-md">NEXT</button>

    </article>

    <article id="too-many" class="info-group">

      <div class="info">
        <p>What breed is it?</p>
        <%= f.select :breed, [""] %>
      </div>

      <div class="info">
        <p>Gender?</p>
        <%= f.select :gender, Pet::GENDERS %>
      </div>

      <div class="info">
        <p>What size are they?</p>
        <%= f.select :size, Pet::SIZES, :prompt => "" %>
      </div>

      <div class="info">
        <p>How old are they?</p>
        <%= f.select :age, Pet::AGES, :prompt => "" %>
      </div>

      <span>
        <button class="prev-page btn btn-light btn-md">PREV</button>

        <button class= "next-page btn btn-light btn-md">NEXT</button>
      </span>

    </article>

    <article class="info-group large-info-group">


      <div class="info">
        <p>Please add a description:</p>
        <%= f.text_area :description %>
      </div>

      <div class="info">
        <p>Please upload a photo:</p>
        <%= f.file_field :cw_photo, id: "photo-upload" %>
      </div>

      <span>
        <button class="prev-page btn btn-light btn-md">PREV</button>
        <%= f.submit "Submit", class: "btn btn-light btn-md submit-pet" %>
      </span>

    </article>

    <% end %>
  </div>
</section>

</main>
