<!DOCTYPE html>
<html>
<head>
  <title>Pawsibilities</title>
</head>
<body>
<%= render 'layouts/top_nav' %>
<h1 class="search-title"> Find-A-Pet </h1>

<%= render 'search/initial_form' %>

  <p>Found <b><%= @pets.count %></b> matches.</p>

  <div id="all-pets-container">
  <% @pets.each do |pet| %>
  <div class="card">
      <%= link_to pet do %>
        <img src=<%= pet.photo %> title=<%= pet.name %> width="250" height="250"/><br/>
      <% end %>
  </div>
  <% end %>
  </div>

</body>
</html>
