<!DOCTYPE html>
<html>
<head>
  <title>Pawsibilities</title>
</head>
<body>
<nav> Nav Bar</nav>

<h1> SEARCHING TIME </h1>

<%= render 'search/initial_form' %>

  <p>Found <b><%= @pets.count %></b> matches.</p>

<% if @pets.count == 0 %>
  <%= render 'search/user_form' %>
<% end %>

  <% @pets.each do |pet| %>
    <p>
      <%= link_to pet do %>
        <%= pet.name %>:
        <img src=<%= pet.photo %>/>
      <% end %>
    </p>
  <% end %>


</body>
</html>
