<!DOCTYPE html>
<html>
<head>
  <title>Pawsibilities</title>
</head>
<body>
<%= render 'layouts/top_nav' %>

<section class="container">

<div class="row">
  <div class="pet-profile col-sm">
    <img src=<%= @pet.photo %> />
    <h1> <%= @pet.name %> </h1>
  </div>

  <div class="pet-info col-sm">
    <dd><strong>Breed</strong>: <%= @pet.breed %></dd>
    <dd><strong>Age</strong>: <%= @pet.age %></dd>
    <dd><strong>Size</strong>: <%= @pet.size %></dd>
    <dd><strong>Gender</strong>: <%= @pet.gender %></dd>
    <dd><strong>Location</strong>: <%= @pet.city %></dd>
  </div>
</div> <!-- row-end -->

<div class="row">
  <div class="pet-description col-lg">
    <h2>Description</h2>
    <dd><%= (@pet.description.slice(9, @pet.description.length - 12)).gsub(/[\u0080-\u00ff]/, "") %></dd>
  </div>

  <div class="shelter-info col-sm">
    <%= image_tag("dog-house.png", :alt => "shelter-icon", :class => "shelter-style") %>

    <% if !@shelter.name.blank? %>
      <dd><strong><%= @shelter.name %></strong></dd>
    <% end %>

    <% if !@shelter.phone.blank? %>
      <dd><strong>Phone</strong>: <%= @shelter.phone %></dd>
    <% end %>

    <% if !@shelter.email.blank? %>
      <dd><strong>Email</strong>: <%= @shelter.email %></dd>
    <% end %>

    <% if !@shelter.address.blank? %>
      <dd><strong>Address</strong>: <%= @shelter.address %></dd>
    <% end %>

    <div class="pet-map">
      <% if @shelter.address == "" %>
      <iframe
        width="250"
        height="250"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDXLuvEg0vlb2FRIcokWzNJwh5RdZpVQ6w
        &q=<%= @shelter.latitude %>,<%= @shelter.longitude %>
        &zoom=15" allowfullscreen>
      </iframe>
      <% else %>
      <iframe
        width="250"
        height="250"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDXLuvEg0vlb2FRIcokWzNJwh5RdZpVQ6w
        &q=<%= @shelter.address %>
        &zoom=15" allowfullscreen>
      </iframe>
      <% end %>
    </div>
  </div>
</div> <!-- row-end -->

<div class="row">
  <div class="breed-info">
    <% if @highlights %>
      <h2>Breed Information: <%=@pet.breed%></h2>
      <% @highlights.each do |highlight| %>
        <dd><%= ((highlight).gsub(/[\u0080-\u00ff]/, "")).gsub("€", "") %></dd>
      <% end %>
    <% end %>
  </div>
</div>

</section>




</body>
</html>