<!DOCTYPE html>
<html>
<head>
  <title>Pawsibilities</title>
</head>
<body>

<%= form_tag("/match", method: "get") do %>

<p style="text-align: left">What kind of pet would you like to get matched to?</p>
<%= check_box_tag(:animal_type, value = "Dog") %>
<%= label_tag(:animal_type, "Dog") %>
<%= check_box_tag(:animal_type, value = "Cat") %>
<%= label_tag(:animal_type, "Cat") %>


<p style="text-align: left">Where is your location</p>

<%= check_box_tag(:location, value ="Toronto") %>
<%= label_tag(:location, "Toronto") %>
<%= check_box_tag(:location, value ="Scarborough") %>
<%= label_tag(:location, "Scarborough") %>

<p style="text-align: left">Are you a first-time pet owner? </p>

<%= radio_button_tag(:first_pet, true) %>
<%= label_tag(:first_pet, "Yes") %>
<%= radio_button_tag(:first_pet, false) %>
<%= label_tag(:first_pet, "No") %>

<p style="text-align: left">New pet's social circle? (Select all that apply): </p>

<%= check_box_tag(:family_members, value = "Kids") %>
<%= label_tag(:family_members, "Surrounded by young children") %>
<%= check_box_tag(:family_members, value = "Other_pets") %>
<%= label_tag(:family_members, "Other pets to accompany") %>
<%= check_box_tag(:family_members, value = "Stranger") %>
<%= label_tag(:family_members, "Have regular visitors") %>


<p style="text-align: left">What's your coat size? </p>


<%= radio_button_tag(:coat_size, "Short") %>
<%= label_tag(:coat_size, "Short") %>
<%= radio_button_tag(:coat_size, "Medium") %>
<%= label_tag(:coat_size, "Medium") %>

<%= radio_button_tag(:coat_size, "Long") %>
<%= label_tag(:coat_size, "Long") %>
<%= radio_button_tag(:coat_size, "Ignore") %>
<%= label_tag(:coat_size, "No Preference") %>



<p style="text-align: left">What size of pet are you looking for? </p>

<%= radio_button_tag(:breed_size, "Small") %>
<%= label_tag(:breed_size, "Small (10 lbs or less)") %>
<%= radio_button_tag(:breed_size, "Medium ") %>
<%= label_tag(:breed_size, "Medium (11 - 40 lbs)") %>
<%= radio_button_tag(:breed_size, "Large") %>
<%= label_tag(:breed_size, "Large (50+ lbs") %>
<%= radio_button_tag(:breed_size, "Ignore") %>
<%= label_tag(:breed_size, "No Preference") %>


<p style="text-align: left">On average, how much time do you think your pet will be spending alone? </p>

<%= radio_button_tag(:independence, "Plenty_time") %>
<%= label_tag(:independence, "Less than 5 hours a day)" )%>
<%= radio_button_tag(:independence, "Moderate_time") %>
<%= label_tag(:independence, "5 - 10 hours a day") %>
<%= radio_button_tag(:independence, "No_time") %>
<%= label_tag(:independence, "More than 10 hours a day") %>

<p style="text-align: left">What kind of personality traits should your pet have? </p>

<%= radio_button_tag(:attention, "Chilled") %>
<%= label_tag(:attention, "Chilled") %>
<%= radio_button_tag(:attention, "Curious") %>
<%= label_tag(:attention, "Asking questions") %>
<%= radio_button_tag(:attention, "Needy") %>
<%= label_tag(:attention, "Center of the universe") %>
<%= radio_button_tag(:attention, "Ignore") %>
<%= label_tag(:attention, "No Preference") %>


<p style="text-align: left">Are you looking for lively conversations between you and your pet? </p>

<%= radio_button_tag(:noise_level, "Noisy") %>
<%= label_tag(:noise_level, "Absolutely") %>
<%= radio_button_tag(:noise_level, "Quiet") %>
<%= label_tag(:noise_level, "No, silence is golden") %>
<%= radio_button_tag(:noise_level, "Ignore") %>
<%= label_tag(:noise_level, "No Preference") %>


<p style="text-align: left">From the description below, select all that apply: </p>

<%= radio_button_tag(:trainability, "Trained") %>
<%= label_tag(:trainability, "My new pet has to be completely trained") %>
<%= radio_button_tag(:trainability, "Moderate") %>
<%= label_tag(:trainability, "My new pet has some training") %>
<%= radio_button_tag(:trainability, "Ignore") %>
<%= label_tag(:trainability, "No Preference") %>


<div>
<%= submit_tag("Match!!") %>
</div>

<% end %>


</body>
</html>