<!DOCTYPE html>
<html>
<head>
  <title>Pawsibilities</title>
</head>
<body class="quiz-body">

  <%= render 'layouts/top_nav' %>

  <%= image_tag "pet-matcher.jpg", class: "title-image" %>

  <h1 class="title">Pet Matcher</h1>

  <h3 class="subtitle">Answer a few simple questions to find your purrfect pet</h3>

  <button type="button" class="btn btn-light btn-lg" id="pet-matcher-start">Start</button>

  <div id= "quiz-board">
    <%= form_tag("/result", method: "get") do %>

    <article  id= "one" class= "section-wrapper">

      <div class = "question">
        <p> What kind of pet are you looking for?</p>
        <%= check_box_tag(:animal_type, value = "Dog") %>
        <%= label_tag(:animal_type, "Dog") %>
        <%= check_box_tag(:animal_type, value = "Cat") %>
        <%= label_tag(:animal_type, "Cat") %>
      </div>

      <div class = "question">
        <p>Are you a first-time pet owner? </p>

        <%= radio_button_tag(:first_pet, true) %>
        <%= label_tag(:first_pet, "Yes") %>
        <%= radio_button_tag(:first_pet, false) %>
        <%= label_tag(:first_pet, "No") %>
      </div>

      <div class = "question">
        <p>How big should your new pet be? </p>

        <%= radio_button_tag(:breed_size, "Small") %>
        <%= label_tag(:breed_size, "Small (10 lbs or less)") %>
        <%= radio_button_tag(:breed_size, "Medium ") %>
        <%= label_tag(:breed_size, "Medium (11 - 40 lbs)") %>
        <%= radio_button_tag(:breed_size, "Large") %>
        <%= label_tag(:breed_size, "Large (50+ lbs)") %>
        <%= radio_button_tag(:breed_size, "Ignore") %>
        <%= label_tag(:breed_size, "No Preference") %>
      </div>

      <button class="next btn btn-light btn-md">NEXT</button>


    </article>

    <article class= "section-wrapper">

      <div class = "question">
        <p>Who will be in your new pet's social circle? Check all that apply.</p>

        <%= check_box_tag(:family_members, value = "Kids") %>
        <%= label_tag(:family_members, "Young children") %>
        <%= check_box_tag(:family_members, value = "Other_pets") %>
        <%= label_tag(:family_members, "Other pets") %>
        <%= check_box_tag(:family_members, value = "Stranger") %>
        <%= label_tag(:family_members, "New people all the time") %>
      </div>

      <div class = "question">
        <p>What's your preferred coat length? </p>


        <%= radio_button_tag(:coat_size, "Short") %>
        <%= label_tag(:coat_size, "Short") %>
        <%= radio_button_tag(:coat_size, "Medium") %>
        <%= label_tag(:coat_size, "Medium") %>
        <%= radio_button_tag(:coat_size, "Long") %>
        <%= label_tag(:coat_size, "Long") %>
        <%= radio_button_tag(:coat_size, "Ignore") %>
        <%= label_tag(:coat_size, "No Preference") %>
      </div>

      <div class = "question">
        <p>On average, how much time do you think your pet will be spending alone? </p>

        <%= radio_button_tag(:independence, "Plenty_time") %>
        <%= label_tag(:independence, "Less than 5 hours a day" )%>
        <%= radio_button_tag(:independence, "Moderate_time") %>
        <%= label_tag(:independence, "5 - 10 hours a day") %>
        <%= radio_button_tag(:independence, "No_time") %>
        <%= label_tag(:independence, "More than 10 hours a day") %>
      </div>
      <span>
        <button class="prev btn btn-light btn-md">PREV</button>

        <button class= "next btn btn-light btn-md">NEXT</button>
      </span>
    </article>


    <article class= "section-wrapper">

      <div class = "question">
        <p>What kind of personality should your pet have? </p>

        <%= radio_button_tag(:attention, "Chilled") %>
        <%= label_tag(:attention, "Chill") %>
        <%= radio_button_tag(:attention, "Curious") %>
        <%= label_tag(:attention, "Curious") %>
        <%= radio_button_tag(:attention, "Needy") %>
        <%= label_tag(:attention, "Attention-seeking") %>
        <%= radio_button_tag(:attention, "Ignore") %>
        <%= label_tag(:attention, "No Preference") %>
      </div>

      <div class = "question">
        <p>Are you looking for lively conversations between you and your pet? </p>

        <%= radio_button_tag(:noise_level, "Noisy") %>
        <%= label_tag(:noise_level, "Absolutely") %>
        <%= radio_button_tag(:noise_level, "Quiet") %>
        <%= label_tag(:noise_level, "No - silence is golden") %>
        <%= radio_button_tag(:noise_level, "Ignore") %>
        <%= label_tag(:noise_level, "No Preference") %>
      </div>

      <div class = "question">
        <p>Select all that apply: </p>

        <%= radio_button_tag(:trainability, "Trained") %>
        <%= label_tag(:trainability, "My pet must be completely trained") %>
        <%= radio_button_tag(:trainability, "Moderate") %>
        <%= label_tag(:trainability, "My pet must have some training") %>
        <%= radio_button_tag(:trainability, "Ignore") %>
        <%= label_tag(:trainability, "No Preference") %>
      </div>
      <span>  <button class="prev btn btn-light btn-md">PREV</button>


        <%= submit_tag("MATCH", class: "btn btn-light btn-md", id: "search") %>
      </span>


    </article>



    <% end %>

  </div>

</body>
</html>